* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    height: 500px;
    width: 500px;
    background-color: #e8e8e8;
    padding: 50px;
    margin: 25px;
    display: inline-block;
    border-radius: 25px;
}

.box1 {
    height: 500px;
    width: 500px;
    background-color: #e8e8e8;
    padding: 50px;
    margin: 25px;
    display: inline-block;
}